option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "src.tools_adm.settings"
    "PYTHONPATH": "/opt/python/current/app/src/tools_adm:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: src/tools_adm/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
%%container_commands:
%%  01_migrate:
%%    command: "source /opt/python/run/venv/bin/activate && python manage.py makemigrations --noinput && python manage.py migrate --noinput"
%%    leader_only: true
%%  02_createsuperuser:
%%    command: "source /opt/python/run/venv/bin/activate && python manage.py createsu"
%%    leader_only: true
%%  03_collectstatic:
%%    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"